* {box-sizing: border-box; margin: 0; padding: 0;}

@media screen and (max-width: 450px) {

    #logo {
        flex-direction: column;
    }

    #header {
        justify-content: center !important;
        flex-direction: column;
    }

    #email {
        float: none !important;
    }

    #name {
        float: none !important;
    }
}

div {
    border-radius: 5px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background-color: #292C35;
    margin-bottom: 10px
}

#name {
    float:left;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#email {
    float:right;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#contact {
    margin-left:45%;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

a:hover {
    font-weight: bold;
}

.right {
    float: left;
    padding-left:5px;
    height: auto;
    width: 100%;
}

#footer {
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
}

h3 {
    text-decoration: underline;
}

#job-responsibilities {
    padding: 1px;
    margin-bottom: 0.5rem;
}
.job-title {
    font-weight: bold;
}

table {
    border: 1px dashed black;
}

td {
    padding: 2px;
    border: 1px solid #E88741;
}

#education {
    margin-bottom: 1rem;
}

#experience { 
    margin-bottom: 1rem;
}

#education-courses {
    margin-bottom: 0.3rem;
}

#personal-info {
    margin-bottom: 0.3rem;

}

#course-name {
    font-weight:bold;
}

#company-name {


    text-decoration:underline;
}

#job-title {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.job-duration {
    float:right;
}

#heading {
    font-weight:bold;
}